<nav>
  <link rel="stylesheet" href="/public/stylesheet.css">
  <img align="left" src="/images/youtube.png" alt="youtube" width="10%" height="10%">
    <a href="/">Home</a>
    <a href="/0">Video 1</a>
    <a href="/1">Video 2</a>
    <a href="/2">Video 3</a>
    <a href="/3">Video 4</a>
    <a href="/4">Video 5</a>
</nav>
