<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>YouTube</title>
  </head>
  <body>
    <link rel="stylesheet" href="stylesheet.css">
    <%= erb(:'partials/navigation', :layout => false) %>
    <%# template content would be injected here %>
    <%= yield %>
    <%= erb(:'partials/footer', :layout => false) %>
  </body>
</html>
