body{
  background-color: #D6D9DB;
}
nav{
  background-color: #91999F;
}
footer{
  background-color: #91999F;
}
.video{
  display: flex;
  justify-content: center;
  margin-left: 32%;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 6%;
  padding-right: 5%;
}
