<h1 align="center"><%= @post[:title] %></h1>
<iframe class="video" width="560" height="315" src="<%= @post[:src]%>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<p align="center"><%= @post[:body] %></p>
